body{
  background-color: white;
  color: pink;
  font-family: Arial, sans-serif;
  text-align: center;
}

.heading{
  font-size: 26vw;
  margin-top: -25px;
  margin-bottom: -25px
}

article{
  font-size: 7vw;
}

.frame{
  margin-bottom: 20px;
}
